* {
  font-family: "Noto Serif", serif, sans-serif;
}

header {
  text-align: center;
  background-image: url("../images/pexels-ekrulila-2272760.jpg");
  background-repeat: repeat;
  background-size: cover;
  min-height: 160px;
  background-size: 23%;
}

h1 {
  color: rgb(5, 5, 5);
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  text-align: center;
}

main {
  margin: 2px auto;
  padding: 2px;
  text-align: center;
  overflow: scroll;
}

footer {
  color: rgb(22, 20, 20);
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
}

img {
  width: 600px;
  border: 10px solid rgb(95, 236, 231);
  padding: 20px 10px;
  position: relative;
  text-align: center;
  opacity: 0.95;
}

img:hover {
  border: 10px solid rgb(201, 240, 10);
  padding: 20px 10px;
  position: relative;
  text-align: center;
  opacity: 1;
  transition: 1s ease;
}

p {
  font-size: 20px;
  border: 5px;
  padding: 15px;
}

.current {
  background-color: rgb(27, 209, 97);
}

.word-break {
  width: 100px;
  padding: 15px;
  word-break: break-all;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navigation {
  list-style-type: none;
  text-align: right;
  margin: 5px 30px;
  font-size: 30px;
  color: #0000ff;
  background-color: #cfdfc0;
  background-position: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.2fr 0.5fr 0.2fr 4fr 0.5fr 0.2fr;
  row-gap: 10px;
}

#logo {
  animation: fade_in 5s;
  width: auto;
  height: auto;
  max-width: 60%;
  max-height: 60%;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;

  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

.grid-navigation {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  list-style-type: none;
  text-align: right;
  margin: 5px 30px;
  font-size: 30px;
  color: #0000ff;
  background-color: #cfdfc0;
  background-position: center;
}

.grid-header {
  text-align: center;
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}

.grid-aside {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
}

.grid-main {
  grid-column: 1 / span 1;
  grid-row: 5 / span 1;
}

.grid-footer {
  grid-column: 1 / span 1;
  grid-row: 6 / span 1;
}

.flex-container {
  margin: 3px auto;
  padding: 0;
  border: 3px solid black;

  display: flex;
  flex-flow: row wrap;
  max-width: 1200px;
  justify-items: center;
}
.basis {
  background: white;
  color: black;
  border: 2px solid;
  width: 380px;
}

.skip {
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip:focus {
  top: 20px;
  color: black;
  text-decoration-style: solid;
}

@media (prefers-reduced-motion) {
  #logo {
    animation: none;
  }
}

@media all and (min-width: 800px) and (max-width: 1199px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 0.2fr 0.5fr 4fr 0.2fr 0.2fr;
    row-gap: 10px;
  }

  #logo {
    width: auto;
    height: auto;
    max-width: 60%;
    max-height: 60%;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  .grid-navigation {
    grid-column: 6 / span 3;
    grid-row: 1 / span 1;

    list-style-type: none;

    text-align: right;
    margin: 5px 30px;
    font-size: 30px;

    color: #0000ff;
    background-color: #cfdfc0;
    background-position: center;
  }

  .grid-header {
    text-align: center;
    grid-column: 1 / span 8;
    grid-row: 2 / span 1;
  }

  .grid-main {
    grid-column: 1 / span 8;
    grid-row: 3 / span 1;
  }

  .grid-aside {
    grid-column: 1 / span 8;
    grid-row: 4 / span 1;
  }

  .grid-footer {
    grid-column: 1 / span 8;
    grid-row: 5 / span 1;
  }
}

@media all and (min-width: 1200px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 0.1fr 0.5fr 4fr 0.2fr 0.3fr;
    row-gap: 10px;
  }

  #logo {
    width: auto;
    height: auto;
    max-width: 60%;
    max-height: 60%;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  .grid-navigation {
    grid-column: 6 / span 3;
    grid-row: 1 / span 1;

    list-style-type: none;

    text-align: right;
    margin: 5px 30px;
    font-size: 30px;
    /* background-color: rgb(23, 117, 217); */
    color: white;
    color: #0000ff;
    background-color: #cfdfc0;
    background-position: center;
  }

  .grid-header {
    text-align: center;
    grid-column: 1 / span 8;
    grid-row: 2 / span 1;
  }

  .grid-main {
    grid-column: 1 / span 8;
    grid-row: 3 / span 1;
  }

  .grid-aside {
    grid-column: 1 / span 8;
    grid-row: 4 / span 1;
  }

  .grid-footer {
    grid-column: 1 / span 8;
    grid-row: 5 / span 1;
  }
}
