* {
  font-family: "Raleway", sans-serif;
}

header {
  text-align: center;
}

nav {
  color: green;
  text-align: right;
  margin: 5px 30px;
  font-size: 20px;
}

h1 {
  color: rgb(10, 15, 162);
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  text-align: center;
}

main {
  margin: 2px auto;
  padding: 2px;
  text-align: center;
  width: 1000px;
  height: 2000px;
  /* overflow: scroll; */
}

footer {
  color: rgb(22, 20, 20);
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
}

img {
  width: 600px;
  border: 10px solid rgb(95, 236, 231);
  padding: 20px 10px;
  position: relative;
  text-align: center;
  opacity: 0.95;
}

img:hover {
  width: 600px;
  border: 10px solid rgb(201, 240, 10);
  padding: 20px 10px;
  position: relative;
  text-align: center;
  opacity: 1;
  transition: 1s ease;
}
